:root {
    
    --primary-color: #4169e1;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #f2f1f1;
    color: #000;
    
}

/* Genral */
.section1{
    justify-content: center;
}
.container {
    
    padding: 0 12.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
header {
    
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #f2f1f1;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    opacity: 0;
    animation: rightSideAni 1s ease forwards;
}


.img-logo{
        width: 25%;
        height: auto;
       
}
ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.10rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

.mode i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

/* Nav End */

/* Section 1 */

.main {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}

.main h3 {
    color: #000;
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}


.main h1 {
    color: #000;
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}
.main p {
    line-height: 1.7;
    font-size: 1.15rem;
    opacity: 0;
    animation: topSideAni 1.5s ease forwards;
}
.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: grid;
    place-items: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f2f1f1;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}
.cv-btn {
    margin-top: 1.5rem;
    padding: 1em 2.5em;
    border-radius: 25px;
    background-color: #4169e1;
    font-size: 1rem;
    font-weight: bold;
    color: #f2f1f1;
    border: 0;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
}
.cv-btn:hover{
    color: var(--primary-dark);
    background-color: var(--primary-color);
}

.images {
    margin-left: auto;
    width: 330px;
    height: 400px;
    text-align: center;
    overflow: hidden;
    background-color: #4169e1;

}

/* Section 1 End */

/* Line between sections */
.section-divider {
    
    margin-top: 50px;
}
.section-divider2 {
   
    margin-top: 90px;
    
}
.section-divider3 {
    
    margin-top: 90px;
    
}
/* Section 2 */
.section2{
    justify-content: center;
   padding: 2rem;
    align-items: center;
   
    margin: 0;
    text-align: center;
    
}


.aabout{
    padding: 0em 0.8em;
    text-align: center;
    background-color: #a2acaf;
    color: #4169E1;
    border-radius: 12px;
    border: 2px solid #4169e1;
    font-size: 1.3rem;
    font-weight: bold;
}
.about h2{
    font-size: 3.2rem;
    color: #33b864;
    font-family: cursive;
    
}
.about p{
    font-size: 1.4rem;
    color: #787e81;
    
   
}
.pa{
    color: #33b864;
}
.img-about{
    width: 45rem;
    padding: 1rem;
}
/* Section 2 End */

/* Section 3 */

.section3 {
    justify-content: center;
}

.sskill {
    padding: 0em 0.8em;
    text-align: center;
    background-color: #a2acaf;
    color: #4169E1;
    border-radius: 12px;
    border: 2px solid #4169e1;
    font-size: 1.3rem;
    font-weight: bold;
}

.skills h2 {
    font-size: 3.2rem;
    color: #33b864;
    font-family: cursive;
}

.image-skills,
.image-skills2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 0; 
}

.column:hover {
    transform: translate(10px, 10px);
}

.column {
    margin: 1rem; 
}

.column img {
    width: 2.8rem;
}

.column p {
    color: #787e81;
}

/* Section 4 */

.image-projects1 {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    
}
.pro1{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}

.pro1 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.pro1:hover{
    transform: rotate(3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.proa2 {
   
    text-align: left;
    padding-left: 1rem;
}
.proa2 h2{
    font-family: Arial, sans-serif;
}
.proa2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}
.pro2{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}
.pro2:hover{
    transform: rotate(3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.pro2 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.prob2 {
   
    text-align: left;
    padding-left: 1rem;
}
.prob2 h2{
    font-family: Arial, sans-serif;
}
.prob2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}
.pro3{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}
.pro3:hover{
    transform: rotate(-3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.pro3 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.proc2 {
   
    text-align: left;
    padding-left: 1rem;
}
.proc2 h2{
    font-family: Arial, sans-serif;
}
.proc2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}
.pro4{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}
.pro4:hover{
    transform: rotate(-3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.pro4 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.prod2 {
   
    text-align: left;
    padding-left: 1rem;
}
.prod2 h2{
    font-family: Arial, sans-serif;
}
.prod2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}

.image-projects2 {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    
}
.pro5{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}
.pro5:hover{
    transform: rotate(3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.pro5 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.proe2 {
   
    text-align: left;
    padding-left: 1rem;
}
.proe2 h2{
    font-family: Arial, sans-serif;
}
.proe2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}
.pro6{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}
.pro6:hover{
    transform: rotate(3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.pro6 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.prof2 {
   
    text-align: left;
    padding-left: 1rem;
}
.prof2 h2{
    font-family: Arial, sans-serif;
}
.prof2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}
.pro7{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}
.pro7:hover{
    transform: rotate(-3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.pro7 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.prog2 {
   
    text-align: left;
    padding-left: 1rem;
}
.prog2 h2{
    font-family: Arial, sans-serif;
}
.prog2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}
.pro8{
    border: 2px solid  #33b864;
    border-radius: 19px;
    
}
.pro8:hover{
    transform: rotate(-3deg);
    box-shadow: 3px 4px 7px  #aaaaaa;
}
.pro8 img{
    width: 20rem;
    height: 16rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.proh2 {
   
    text-align: left;
    padding-left: 1rem;
}
.proh2 h2{
    font-family: Arial, sans-serif;
}
.proh2 p{
    line-height: 1.4;
    font-family: Arial, sans-serif;
}
.pproject{
    padding: 0em 0.8em;
    font-weight: bold;
    text-align: center;
    background-color: #a2acaf;
    color: #4169E1;
    border-radius: 12px;
    border: 3px solid #4169e1;
    font-size: 1.3rem;
    
}
.projects h2{
    font-size: 3.2rem;
    color: #33b864;
    font-family: cursive;
}
/* Section 4 End */
/*Loading page*/
.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #4169e1, #6045fa);
  
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
  }
  
  #svg {
    height: 190px;
    width: 180px;
    stroke: rgb(255, 255, 255);
    fill-opacity: 0;
    stroke-width: 16px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
  }
  
  @keyframes draw {
    0% {
      stroke-dashoffset: 4500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  
  .logo-name {
    color: #fff;
    font-size: 25px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bolder;
    
  }
  .section1,
.section2,
.section3,
.section4 {
  opacity: 0;
  transition: opacity 3s ease;
}

body:not(.loading) .section1,
body:not(.loading) .section2,
body:not(.loading) .section3,
body:not(.loading) .section4 {
  opacity: 1;
}
/*Loading page*/


.dark-mode {
    background-color: var(--primary-dark);
    color: #f2f1f1;
}

.mode input {
    display: none;
}

.dark-mode .logo a, 
.dark-mode ul li a, 
.dark-mode .main h3, 
.dark-mode .main h1 {
    color: #f2f1f1;
}
.dark-mode ul li a.active, .dark-mode ul li a:hover {
    color: var(--primary-color);
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}
.dark-mode .column p{
    color: #a2acaf;
}
.dark-mode .about p{
    color: #a2acaf;
}

/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }

    .main h3 {
        color: #000;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .page-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        opacity: 0;
        animation: rightSideAni 1s ease forwards;
    }

    ul {
        flex-direction: row;
        align-items: center;
    }

    li a {
        opacity: 0;
        animation: navani .3s ease forwards;
        animation-delay: calc(.15s * var(--navAni));
    }

    .menu {
        display: none;
    }

    .mode i {
        opacity: 0;
        animation: rightSideAni 1.5s ease forwards;
    }
    .container {
        padding: 0 1.6rem;
    }
    .images {
        
        margin: auto;
    }
    .aabout {
        font-size: 1rem;
    }

    .about h2 {
        font-size: 2rem;
    }

    .about p {
        font-size: 1rem;
    }
    .image-skills {
        margin-left: 0; 
    }

    .image-skills2 {
        margin-left: 0; 
    }

    .skills h2 {
        font-size: 2rem; 
    }

    .column img {
        width: 1.5rem; 
    }
    
}

@media screen and (max-width:600px) {
    body {
        height: auto;
    }

    header {
        height: auto;
    }

    ul {
        background: var(--primary-dark);
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 4.8rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }
    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }
    .images {
        margin: auto;
        
    }
    .section-divider {
    
        margin-top: 0px;
    }
    .img-about{
        width: 20rem;
    }
    .about p{
        text-align: start;
        font-size: 1.2rem;
        
    }
    .about h2{
        font-size: 2.4rem;
    }
    .image-skills,
    .image-skills2 {
        margin-left: 0; 
    }

    .column {
        margin: 1rem; 
    }

    .skill-container {
        text-align: center; 
    }

    .sskill {
        margin-bottom: 1rem; 
    }

    .image-skills,
    .image-skills2 {
        justify-content: center;
    }

    .skills h2 {
        font-size: 2rem;
    }

    .column img {
        width: 2.5rem; 
    }
    .projects h2{
        font-size: 2.4rem;
    }
    .image-projects1 {
        display: grid;
        grid-gap: 20px;
        justify-content: center;
    }
    .image-projects2 {
        display: grid;
        grid-gap: 20px;
        justify-content: center;
    }
   
}