:root {
    
    --primary-color: #4169e1;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #f2f1f1;
    color: #000;
    
}

/* Genral */

.container {
    
    padding: 0 12.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
header {
    
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #f2f1f1;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}


.img-logo{
        width: 25%;
        height: auto;
       
}
ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.10rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

.mode i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}


/* Nav End */
.main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.detail1 {
    text-align: center;
    padding: 2rem;
}

.detail1 h2 {
    font-size: 4.2rem;
    color: #33b864;
    font-family: cursive;
    letter-spacing: 0.5em;
}

.detail2 {
    margin: 1rem;
}

.detail2 h3 {
    font-size: 2rem;
    color: #33b864;
}

.detail2 p {
    line-height: 1.6;
    font-size: 1.4rem;
    color: #000;
}

.detail2 p span {
    font-size: 1.2rem;
    text-decoration: underline #33b864;
}



.dark-mode {
    background-color: var(--primary-dark);
    color: #f2f1f1;
}

.mode input {
    display: none;
}

.dark-mode .logo a, 
.dark-mode ul li a, 
.dark-mode .main h3, 
.dark-mode .main h1 {
    color: #f2f1f1;
}
.dark-mode ul li a.active, .dark-mode ul li a:hover {
    color: var(--primary-color);
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}
.dark-mode .column p{
    color: #a2acaf;
}
.dark-mode .about p{
    color: #a2acaf;
}
.dark-mode .detail2 h3{
    color: #33b864;
}
.dark-mode .detail2 p{
    color: white;
}

/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }

    .main h3 {
        color: #000;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
    .detail1 h2 {
        font-size: 3.5rem; 
    }

    .detail2 h3 {
        font-size: 2rem; 
    }

    .detail2 p {
        font-size: 1.3rem;
    }

    .detail2 p span {
        font-size: 1.1rem; 
    }
    .detail1 h2 {
        
        letter-spacing: 0em;
    }
    .detail1 video {
        width: 100%; 
        height: auto; 
    }
}

@media screen and (max-width:600px) {
    body {
        height: auto;
    }

    header {
        height: auto;
    }

    ul {
        background: var(--primary-dark);
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 4.8rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }
    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }
    .images {
        width: 61%;
        height: 80%;
        margin: auto;
    }

    .main {
        grid-template-columns: 1fr; 
    }

    .detail1 h2 {
        font-size: 3rem; 
    }

    .detail2 {
        margin: 1rem 0; 
    }

    .detail2 h3 {
        font-size: 1.8rem; 
    }

    .detail2 p {
        font-size: 1.2rem; 
        line-height: 1.4;
    }

    .detail2 p span {
        font-size: 1rem; 
    }

    .detail1 video {
        width: 100%; 
        height: auto; 
    }
    .detail1 h2 {
        
        letter-spacing: 0.1em;
    }
    
}